<!DOCTYPE html>
<html>

<head>
  <title>Devtools Tech Sandbox</title>
  <meta charset="UTF-8" />
</head>

<body>
  <div class="card">
    <img
        src="https://react.semantic-ui.com/images/avatar/large/matthew.png"
        alt="Person Image"
      />
    <div class="actions">
      <button class="action-button">
          <!-- https://fontawesome.com/v4/icon/heart -->
          <i class="fa fa-heart-o" id="like_button"></i>
        </button>
      <button class="action-button">
          <!-- https://fontawesome.com/v4/icon/share-alt -->
          <i class="fa fa-share-alt"></i>
        </button>
    </div>
  </div>

  <!--do not remove-->
  <script src="./index.js"></script>
</body>

</html>