/* Navbar.css */

.navbar {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .category {
    margin-bottom: 10px;
  }
  
  .category h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .category label {
    display: block;
    margin-bottom: 5px;
  }
  
  .sort-options {
    margin-top: 20px;
  }
  
  .sort-options h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .sort-options select {
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .sort-options button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  