* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .autocomplete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    margin: 10px;
  }
  
  .autocomplete-container {
    position: relative;
    width: 300px;
    /* Adjust the width as needed */
    margin: 20px;
    /* Adjust the margin as needed */
  }
  
  .upi-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  
  .suggestions-section {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
  }
  
  .filtered-suggestion {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .suggested-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .suggested-item:hover,
  .suggested-item.selected {
    background-color: #f0f0f0;
  }