//index.module.css
.wrapper {
  width: 30px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 50px;
}

.wrapper > span {
  display: inline-block;
  width: 10px;
  height: 10%;
  background: green;
  border-radius: 20%;
  transition: height 0.05s ease-in-out;
  margin: 0 2px;
  vertical-align: bottom;
}